@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    background-image: url(../imagens/plano_de_fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.form-container {
    width: 30dvw; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);    
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c9c7c5;
}
label, p {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #938f8b;
}
form {
    width: 80%;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
input:focus {
    border-color: #cabfb5;
    outline: none;
}
button {
    width: 50%;
    min-width: 150px;
    margin-left: 25%;
    margin-top: 30px;
    padding: 12px;
    background-color: #6d6964;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
button:hover {
    background-color: #958f88;
}
.register-link {
    margin-top: 40px;
    text-align: center;
    font-size: 0.8em;
}
.register-link a {
    color: #938f8b;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
.error, .success {
    color: #b9b3ae;
    margin-bottom: 30px;
    text-align: center;
}
/* AJUSTES DE RESPONSIVIDADE */
/* --------------------------*/
/* RESOLUÇÃO DESKTOP (MODERNOS) */
@media (width >= 1600px){

}
/* RESOLUÇÃO DESKTOP (ANTIGOS) */
@media (width >= 1200px) and (width < 1600px){

}
/* RESOLUÇÃO MOBILE (MODERNOS) E TABLETS - PORTRAIT */
@media (width >= 768px) and (width < 1200px) and (orientation: portrait) {
.form-container {
    width: 60dvw;  
    height: 40dvh;
}
h2 {
    font-size: 2.6dvh;
}
label, p, button {
    font-size: 1.8dvh;    
}
label {
    margin-bottom: 1dvh;
}
button{
    margin-bottom: 2dvh;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    height: 1.8dvh;  
    margin-bottom: 2dvh;
    font-size: 1.8dvh;
}
.register-link {
    font-size: 1.4dvh;
}
.success, .error {
    font-size: 1.6dvh;
}
}
/* RESOLUÇÃO MOBILE (ANTIGOS) */
@media (width <= 768px) and (orientation: portrait)  {
.form-container {
    width: 60dvw;  
    height: 40dvh;
}
h2 {
    font-size: 2.6dvh;
}
label, p, button {
    font-size: 1.8dvh;    
}
label {
    margin-bottom: 1dvh;
}
button{
    margin-bottom: 2dvh;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    height: 1.8dvh;  
    margin-bottom: 2dvh;
    font-size: 1.8dvh;
}
.register-link {
    font-size: 1.4dvh;
}
.success, .error {
    font-size: 1.6dvh;
}
}